<div class="uk-position-center uk-overlay uk-overlay-default">
    <form #f="ngForm"(ngSubmit)="login(f)">

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="email" name="email" #email="ngModel" ngModel placeholder="Enter Your E-mail"email required>
                <p class="alert alert-danger" *ngIf="email.errors?.['required']&&email.touched"> Enter Your E-mail</p>
            <p class="alert alert-danger" *ngIf="email.errors?.['email']&&email.touched">Should Enter Your E-mail</p>
            </div>
        </div>
    
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password"  name="password" #password="ngModel" ngModel placeholder="Enter Your Password" required minlength="8">
                <p class="alert alert-danger" *ngIf="password.errors?.['required']&&password.touched"> Enter Your Password</p>
                <p class="alert alert-danger" *ngIf="password.errors?.['minlength']&&password.touched">Should Enter Your Password</p>                   </div>
        </div>
        <button class="btn btn-success">Login</button>
        <div class="alert alert-danger"*ngIf="messageError">{{messageError}}</div>
        <br>
        <br>
        <button type="submit" class="btn btn-danger">Forget Your Password ?</button>

        
    
    </form>
</div>